@model IEnumerable<CleoUI.Models.Instrument>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InstrumentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstrumentCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstrumentURL)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InstrumentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstrumentCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstrumentURL)
            </td>

            <td>
                <div id="spinner" class="spinner col-2"></div>
                <button class="btn btn-primary" id="load" onclick="LoadInstrument('@Html.DisplayFor(modelItem => item.InstrumentURL)','@Html.DisplayFor(modelItem => item.InstrumentCode)')">Load</button>
                <div id="@Html.DisplayFor(modelItem => item.InstrumentCode)"></div>
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.InstrumentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InstrumentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InstrumentID">Delete</a>
            </td>

        </tr>
}
    </tbody>
</table>

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('.modal').hide()">Close</button>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/custom.css" type="text/css" />

@section scripts{
    <script>
        function LoadInstrument(element, id)
        {
            var address = "http://localhost:5000/scrape/" + element;
            // Show the spinner
            $('#spinner').show();

            $.get(address, function (data) {
                
                var weekly = data['weekly'];
                var monthly = data['monthly'];
                $('#' + id).html("Weekly: " + weekly + " " + "Monthly: " + monthly);
                $('#spinner').hide();
            });

            
        }
    </script>
    }